################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/meta/.vs/meta/FileContentIndex/04b1778a-2243-4eba-a222-cda5b080e234.vsidx
/meta/.vs/meta/FileContentIndex/881a1e7e-187d-4509-bb2b-981209681fb1.vsidx
/meta/.vs/meta/FileContentIndex/91708194-cdae-4ad4-a3e9-d93c46bc1595.vsidx
/meta/.vs/meta/FileContentIndex/9a692069-0767-47fa-9594-672ad63e800a.vsidx
/meta/.vs/meta/FileContentIndex/ca2edfc4-027a-49e5-aaa3-cd51a6400c18.vsidx
